# Python virtual environment & cache
**/venv/
**/.venv/
**/__pycache__/
**/*.pyc

# Python test cache
**/.pytest_cache/

# Test reports
**/report.html
**/allure-results/
**/allure-report/

# Playwright
**/node_modules/
**/test-results/
**/playwright-report/
**/blob-report/
**/playwright/.cache/
**/playwright/.auth/

# System files
.DS_Store